!!! 5
html(lang="en")
  head
    title='Node Blackjack'
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    h1 Jade - node template engine
    #container
        p test
