
/* MAIN */
#main {
	float:left;
	width:70%;
	background:#9c9;
	font-size:22px;
}
.cards {
	position:absolute;
	left:160px;
	display:inline;
}
.player_action {
	position:absolute;
	left:300px;
	display:inline;
	align:center;
}
.stats {
	position:absolute;
	left:420px;
	display: inline;
}

#howtoplay {
	padding:5px;
}
#logs {
	padding:5px;
}

/* SIDEBAR */
#sidebar {
	display: block;
	float:right;
	width:30%;
	background:#c9c;
}
