body,
html {
	margin:0;
	padding:0;
	height: 100%;
	background:#000;
	width:100%;
	font:#fff;
}

/* PAGE */
#page {
	width: 90%;
	height: 85%;
	margin:0 auto;
}

/* HEADER */
header {
	background:#000;
}
h1 { 
	font-size:60px;
	color: #white;
	font-family: 'Paytone One', arial, serif;
}


/* MAIN */
#main {
	position: relative;
	padding-top: 40px;
	float:left;
	width: 65%;
	height: 100%;
	font-size:22px;
	height: 100%;

	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px; /* future proofing */
	-khtml-border-radius: 30px; /* for old Konqueror browsers */
}
#dealer {
	padding:10px;
	height: 40px;
	align:center;
	display:block;
}
.player {
	padding:10px;
	height: 40px;
	align:center;
	display:block;
	color: #000;
}
.card_image {
	width: 34px;
	height: 45px;
}
.current_player {
	padding:10px;
	height: 40px;
	opacity: 0.9;
	align:center;
	background: #lightyellow;
	color: #000;
}
.turn_indicator {
	display:inline;
}
.turn_indicator_image {
	width: 24px;
	height: 24px;
}
.name {
	position:absolute;
	left:20px;
	display:inline;

	color: #000;
	font-family: 'Paytone One', arial, serif;
}
.cards {
	position:absolute;
	left:150px;
	display:inline;
}
.player_action {
	position:absolute;
	left:350px;
	display:inline;
	align:center;

	font-size:32px;
	color: #white;
	font-family: 'Paytone One', arial, serif;
}
.stats {
	position:absolute;
	left:480px;
	display: inline;
}

/* SIDEBAR */
#sidebar {
	padding-top: 40px;
	display: block;
	float:right;
	width:35%;
	background:#333;
	height: 100%;
	
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px; /* future proofing */
	-khtml-border-radius: 30px; /* for old Konqueror browsers */
}
#howtoplay {
	padding:5px;
}
#logs {
	padding:5px;
}

#footer {
	clear:both;
	background:#000;
	color: #fff;
	font-size: 20px;
}














/*STICKY NOTE*/
h2,p{  
  font-size:100%;  
  font-weight:normal;  
}
ul li h2{  
  font-size:140%;  
  font-weight:bold;  
  padding-bottom:10px;  
}  
ul li p{  
  font-family:"Reenie Beanie",arial,sans-serif;  
  font-size:180%;  
}  
ul,li{  
  list-style:none;  
}  
ul{  
  overflow:hidden;  
  padding:3em;  
}  
ul li a{  
  -webkit-transform:rotate(-3deg);  
  -o-transform:rotate(-3eg);  
  -moz-transform:rotate(-3deg);
  text-decoration:none;  
  color:#000;  
  background:#ffc;  
  display:block;  
  height:20em;  
  width:20em;  
  padding:1em;  
  /* Firefox */  
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);  
  /* Safari+Chrome */  
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
  /* Opera */  
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
}
ul li a:hover,ul li a:focus{  
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);  
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);  
  box-shadow:10px 10px 7px rgba(0,0,0,.7);  
  -webkit-transform: scale(1.25);  
  -moz-transform: scale(1.25);  
  -o-transform: scale(1.25);  
  position:relative;  
  z-index:5;  
}

.long  {
  display: none;
}

.hiddennote  {
  display: none;
}

.bigNotes {
  position: absolute;
  float: left;
  /*
  left: $(window).width()/2;
  top: $(window).height()/2;
  */
  left: 70px;
  top:  90px;
  background:#ddfc;
  /*
  -webkit-transform: scale(2.5);  
  -moz-transform: scale(2.5);  
  -o-transform: scale(2.5); 
   */
}
