
/* HEADER */
h1 { 
	font-size:60px;
}

/* MAIN */
#main {
	float:left;
	width:70%;
	/*background:#9c9;*/
	font-size:22px;
}
.cards {
	position:absolute;
	left:160px;
	display:inline;
}
.player_action {
	position:absolute;
	left:300px;
	display:inline;
	align:center;
}
.stats {
	position:absolute;
	left:480px;
	display: inline;
}

#howtoplay {
	padding:5px;
}
#logs {
	padding:5px;
}

/* SIDEBAR */
#sidebar {
	display: block;
	float:right;
	width:30%;
	background-image:url('../img/bg_paper.gif');
	background-image:repeat-x;
	/*background:#c9c;*/
}
