body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}

/* PAGE */
#page {
	width:100%;
	margin:0 auto;
	background:#9C9;
	background-image:url('../img/bg_table.jpg');
}

/* HEADER */
header {
	background:#000;
}
h1 { 
	font-size:30px;
	color: #white;
	font-family: 'Paytone One', arial, serif;
}

/* NAV */
nav {
	background:#000;
}
nav ul {
	list-style:none;
}
nav li {
	display:inline;
}

/* MAIN */
#main {
	float:left;
	width:100%;
	/*background:#9c9;*/
	font-size:12px;
}
#dealer {
	padding:10px;
	height: 40px;
	align:center;
	display:block;
}
.player {
	padding:10px;
	height: 40px;
	align:center;
	display:block;
}
.current_player {
	padding:10px;
	height: 40px;
	opacity: 0.9;
	align:center;
	background: #lightyellow;
}
.turn_indicator {
	display:inline;
}
.turn_indicator_image {
	width: 24px;
	height: 24px;
}
.name {
	position:absolute;
	left:40px;
	display:inline;
}
.cards {
	position:absolute;
	left:100px;
	display:inline;
}
.player_action {
	position:absolute;
	left:240px;
	display:inline;
	align:center;
}
.busted_image {
	width:120px;
	height:40px;
}
.stats {
	display: none;
}

/* SIDEBAR */
#sidebar {
	display: none;
	float:right;
	width:30%;
	background-image:url('../img/bg_paper.gif');
	/*background:#c9c;*/
}
#howtoplay {
	padding:5px;
}
#logs {
	padding:5px;
}

#footer {
	clear:both;
	background:#000;
	color: #fff;
	font-size: 20px;
}
