#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
#boxes #dialog {
  width:375px; 
  height:203px;
  padding:10px;
  background-color:#ffffff;
}
 
#boxes #login_dialog {
  width:375px; 
  height:203px;
}

#login_dialog .d-header {
  background:url(../img/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}
 
#login_dialog .d-header input {
  position:relative;
  top:90px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}
 
#login_dialog .d-blank {
  float:left;
  background:url(../img/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}
 
#login_dialog .d-login {
  float:left;
  width:108px; 
  height:53px;
}

