.dots {
	
	background-image: 
	-webkit-gradient(radial, 30 30, 0, 30 30, 45,
			color-stop(0.4,  rgba(255,255,255,0.5)), 
			color-stop(0.44, rgba(255,255,255,0))
		),
	-webkit-gradient(radial, 30 30, 0, 30 30, 45,
			color-stop(0.4,  rgba(255,255,255,0.5)), 
			color-stop(0.44, rgba(255,255,255,0))
		);
		
	background-image:
	-webkit-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%),
	-webkit-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%);
	background-image:
	-moz-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%),
	-moz-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%);
	background-image:
	-ms-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%),
	-ms-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%);
	background-image:
	-o-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%),
	-o-radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%);
	
	background-image:
	radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%),
	radial-gradient(30% 30%,circle closest-side, 
		rgba(255,255,225,0.5) 40%,
		rgba(255,255,225,0) 44%,
		transparent 100%);
		
	/*ff 3.6*/-moz-background-size: 100px 100px;
	background-size: 100px 100px;
	background-position: 0 0, 50px 50px;		
}
.small {
	background-image: 
	-webkit-gradient(radial, 20 20, 0, 20 20, 20,
			color-stop(0.4,  rgba(255,255,255,0.5)), 
			color-stop(0.44, rgba(255,255,255,0))
		),
		-webkit-gradient(radial, 20 20, 0, 20 20, 20,
			color-stop(0.4,  rgba(255,255,255,0.5)), 
			color-stop(0.44, rgba(255,255,255,0))
		);
		
	/*ff 3.6*/-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	background-position: 0 0, 25px 25px;
}

.tiny {background-image: 
	-webkit-gradient(radial, 7 7, 0, 7 7, 7,
			color-stop(0.4,  rgba(255,255,255,0.5)), 
			color-stop(0.44, rgba(255,255,255,0))
		),
	-webkit-gradient(radial, 7 7, 0, 7 7, 7,
			color-stop(0.4,  rgba(255,255,255,0.5)), 
			color-stop(0.44, rgba(255,255,255,0))
		);
	/*ff 3.6*/-moz-background-size: 20px 20px;
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

.green {
	background-color: #030;
}




.plaid {
	  background-image:	
	  				-webkit-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -webkit-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
					-webkit-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -webkit-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					)
                    ;
		background-image:	
	  				-moz-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -moz-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
					-moz-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -moz-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					)
                    ;
			background-image:	
	  				-ms-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -ms-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
					-ms-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -ms-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					)
                    ;background-image:	
	  				-o-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -o-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
					-o-linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    -o-linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					)
                    ;
			background-image:	
	  				linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
					linear-gradient(45deg,
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					),
                    linear-gradient(-45deg, 
								rgba(255, 255, 255,  0.15) 25%,
                            	rgba(255, 255, 255,  0.0) 25%,
                            	rgba(255, 255, 255,  0.0) 50%,
								rgba(255, 255, 255,  0.15) 50%,
                            	rgba(255, 255, 255,  0.15) 75%,
                            	rgba(255, 255, 255,  0.0) 75%
					)
                    ;
		background-color: #030;
		background-position: 0 0, 0 0, 80px 50px, 80px 50px;                                                         
        -moz-background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px;                                             
        background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px;
}

