
/* MAIN */
#main {
	float:left;
	width:75%;
	background:#9c9;
	font-size:20px;
}
#cards {
	position:absolute;
	left:160px;
	display:inline;
}
#player_action {
	position:absolute;
	left:280px;
	display:inline;
	align:center;
}
#stats {
	position:absolute;
	left:380px;
	display: inline;
}


/* SIDEBAR */
#sidebar {
	display: block;
	float:right;
	width:25%;
	background:#c9c;
}
#howtoplay {
	padding:5px;
}
#logs {
	padding:5px;
}
