
/* HEADER */
h1 { 
	font-size:50px;
}

/* MAIN */
#main {
	float:left;
	width:75%;
	font-size:20px;
}
.name {
	font-size:30px;
}
.cards {
	position:absolute;
	left:160px;
	display:inline;
}
#rotate_button {
	width: 48px;
	height:48px;
}
.card_image {
	width: 34px;
	height: 45px;
}
.player_action {
	position:absolute;
	left:400px;
	display:inline;
	align:center;

	font-size:30px;
	color: #white;
	font-family: 'Paytone One', arial, serif;
}
.stats {
	position:absolute;
	left:380px;
	display: none;
}


/* SIDEBAR */
#sidebar {
	display: block;
	float:right;
	width:25%;
	/*background-image:url('../img/bg_paper.gif');*/
	/*background:#c9c;*/
}
#howtoplay {
	padding:5px;
}
#logs {
	padding:5px;
}
