<html lang="ja">
<head>
<title>白魔素材－トランプ(24x32)－上向き</title>

<meta http-equiv="Content-Style-Type" content="text/css">
<style type="text/css">
img { border-style: none; }
table { font-size: 9pt; }
</style>

<script type="text/javascript"><!-- 
function SelectChange(obj){ document.bgColor = obj.options[obj.selectedIndex].value; }
--></script>

</head>
<body bgcolor="#00AA00">

背景色：
<select name="clr" id="clr" onchange="SelectChange(clr)">
<option value="#00AA00" selected>デフォルト
<option value="#FFFFFF">白<option value="#777777">灰色<option value="#000000">黒
<option value="#FF7777">赤(薄い)<option value="#FF0000">赤<option value="#770000">赤(暗い)
<option value="#77FF77">緑(薄い)<option value="#00FF00">緑<option value="#007700">緑(暗い)
<option value="#7777FF">青(薄い)<option value="#0000FF">青<option value="#000077">青(暗い)
<option value="#FFFF77">黄(薄い)<option value="#FFFF00">黄<option value="#777700">黄(暗い)
<option value="#FF77FF">紫(薄い)<option value="#FF00FF">紫<option value="#770077">紫(暗い)
<option value="#77FFFF">水(薄い)<option value="#00FFFF">水<option value="#007777">水(暗い)
</select>

<hr />

<table border="1" cellpadding="2">
<tr><th style="white-space:nowrap">分類<br />(フォルダ)</th><th>画像</th></tr>

<tr><th style="white-space:nowrap">上向き<br />(img)</th><td>
<img src="s01.gif" ALT="スペード(Ａ)" />
<img src="s02.gif" ALT="スペード(２)" />
<img src="s03.gif" ALT="スペード(３)" />
<img src="s04.gif" ALT="スペード(４)" />
<img src="s05.gif" ALT="スペード(５)" />
<img src="s06.gif" ALT="スペード(６)" />
<img src="s07.gif" ALT="スペード(７)" />
<img src="s08.gif" ALT="スペード(８)" />
<img src="s09.gif" ALT="スペード(９)" />
<img src="s10.gif" ALT="スペード(10)" />
<img src="s11.gif" ALT="スペード(Ｊ)" />
<img src="s12.gif" ALT="スペード(Ｑ)" />
<img src="s13.gif" ALT="スペード(Ｋ)" />
&nbsp;<br />
<img src="h01.gif" ALT="ハート(Ａ)" />
<img src="h02.gif" ALT="ハート(２)" />
<img src="h03.gif" ALT="ハート(３)" />
<img src="h04.gif" ALT="ハート(４)" />
<img src="h05.gif" ALT="ハート(５)" />
<img src="h06.gif" ALT="ハート(６)" />
<img src="h07.gif" ALT="ハート(７)" />
<img src="h08.gif" ALT="ハート(８)" />
<img src="h09.gif" ALT="ハート(９)" />
<img src="h10.gif" ALT="ハート(10)" />
<img src="h11.gif" ALT="ハート(Ｊ)" />
<img src="h12.gif" ALT="ハート(Ｑ)" />
<img src="h13.gif" ALT="ハート(Ｋ)" />
&nbsp;<br />
<img src="d01.gif" ALT="ダイヤ(Ａ)" />
<img src="d02.gif" ALT="ダイヤ(２)" />
<img src="d03.gif" ALT="ダイヤ(３)" />
<img src="d04.gif" ALT="ダイヤ(４)" />
<img src="d05.gif" ALT="ダイヤ(５)" />
<img src="d06.gif" ALT="ダイヤ(６)" />
<img src="d07.gif" ALT="ダイヤ(７)" />
<img src="d08.gif" ALT="ダイヤ(８)" />
<img src="d09.gif" ALT="ダイヤ(９)" />
<img src="d10.gif" ALT="ダイヤ(10)" />
<img src="d11.gif" ALT="ダイヤ(Ｊ)" />
<img src="d12.gif" ALT="ダイヤ(Ｑ)" />
<img src="d13.gif" ALT="ダイヤ(Ｋ)" />
&nbsp;<br />
<img src="c01.gif" ALT="クラブ(Ａ)" />
<img src="c02.gif" ALT="クラブ(２)" />
<img src="c03.gif" ALT="クラブ(３)" />
<img src="c04.gif" ALT="クラブ(４)" />
<img src="c05.gif" ALT="クラブ(５)" />
<img src="c06.gif" ALT="クラブ(６)" />
<img src="c07.gif" ALT="クラブ(７)" />
<img src="c08.gif" ALT="クラブ(８)" />
<img src="c09.gif" ALT="クラブ(９)" />
<img src="c10.gif" ALT="クラブ(10)" />
<img src="c11.gif" ALT="クラブ(Ｊ)" />
<img src="c12.gif" ALT="クラブ(Ｑ)" />
<img src="c13.gif" ALT="クラブ(Ｋ)" />
&nbsp;<br />
<img src="j01.gif" ALT="ジョーカー(笑)" />
<img src="j02.gif" ALT="ジョーカー(普)" />
<img src="j03.gif" ALT="ジョーカー(怒)" />
<img src="n00.gif" ALT="予備カード" />
<img src="ur0.gif" ALT="裏(赤)" />
<img src="ug0.gif" ALT="裏(緑)" />
<img src="ub0.gif" ALT="裏(青)" />
<img src="uy0.gif" ALT="裏(黄)" />
<img src="up0.gif" ALT="裏(紫)" />
<img src="uc0.gif" ALT="裏(シアン)" />
<img src="um0.gif" ALT="裏(マゼンダ)" />
<img src="uk0.gif" ALT="裏(黒)" />
<img src="e00.gif" ALT="空白" />
&nbsp;<br />
</td></tr>

</table>

<hr />

<table border="0"><tr>
<td valign="top">

<table border="1" cellpadding="2">
<tr><th colspan="3">スペード</th></tr>
<tr><th><img src="s01.gif" ALT="スペード(Ａ)" />	<td>s01.gif</td><td>スペード(Ａ)</td></tr>
<tr><th><img src="s02.gif" ALT="スペード(２)" />	<td>s02.gif</td><td>スペード(２)</td></tr>
<tr><th><img src="s03.gif" ALT="スペード(３)" />	<td>s03.gif</td><td>スペード(３)</td></tr>
<tr><th><img src="s04.gif" ALT="スペード(４)" />	<td>s04.gif</td><td>スペード(４)</td></tr>
<tr><th><img src="s05.gif" ALT="スペード(５)" />	<td>s05.gif</td><td>スペード(５)</td></tr>
<tr><th><img src="s06.gif" ALT="スペード(６)" />	<td>s06.gif</td><td>スペード(６)</td></tr>
<tr><th><img src="s07.gif" ALT="スペード(７)" />	<td>s07.gif</td><td>スペード(７)</td></tr>
<tr><th><img src="s08.gif" ALT="スペード(８)" />	<td>s08.gif</td><td>スペード(８)</td></tr>
<tr><th><img src="s09.gif" ALT="スペード(９)" />	<td>s09.gif</td><td>スペード(９)</td></tr>
<tr><th><img src="s10.gif" ALT="スペード(10)" />	<td>s10.gif</td><td>スペード(10)</td></tr>
<tr><th><img src="s11.gif" ALT="スペード(Ｊ)" />	<td>s11.gif</td><td>スペード(Ｊ)</td></tr>
<tr><th><img src="s12.gif" ALT="スペード(Ｑ)" />	<td>s12.gif</td><td>スペード(Ｑ)</td></tr>
<tr><th><img src="s13.gif" ALT="スペード(Ｋ)" />	<td>s13.gif</td><td>スペード(Ｋ)</td></tr>
</table>

</td>
<td valign="top">

<table border="1" cellpadding="2">
<tr><th colspan="3">ハート</th></tr>
<tr><th><img src="h01.gif" ALT="ハート(Ａ)" />	<td>h01.gif</td><td>ハート(Ａ)</td></tr>
<tr><th><img src="h02.gif" ALT="ハート(２)" />	<td>h02.gif</td><td>ハート(２)</td></tr>
<tr><th><img src="h03.gif" ALT="ハート(３)" />	<td>h03.gif</td><td>ハート(３)</td></tr>
<tr><th><img src="h04.gif" ALT="ハート(４)" />	<td>h04.gif</td><td>ハート(４)</td></tr>
<tr><th><img src="h05.gif" ALT="ハート(５)" />	<td>h05.gif</td><td>ハート(５)</td></tr>
<tr><th><img src="h06.gif" ALT="ハート(６)" />	<td>h06.gif</td><td>ハート(６)</td></tr>
<tr><th><img src="h07.gif" ALT="ハート(７)" />	<td>h07.gif</td><td>ハート(７)</td></tr>
<tr><th><img src="h08.gif" ALT="ハート(８)" />	<td>h08.gif</td><td>ハート(８)</td></tr>
<tr><th><img src="h09.gif" ALT="ハート(９)" />	<td>h09.gif</td><td>ハート(９)</td></tr>
<tr><th><img src="h10.gif" ALT="ハート(10)" />	<td>h10.gif</td><td>ハート(10)</td></tr>
<tr><th><img src="h11.gif" ALT="ハート(Ｊ)" />	<td>h11.gif</td><td>ハート(Ｊ)</td></tr>
<tr><th><img src="h12.gif" ALT="ハート(Ｑ)" />	<td>h12.gif</td><td>ハート(Ｑ)</td></tr>
<tr><th><img src="h13.gif" ALT="ハート(Ｋ)" />	<td>h13.gif</td><td>ハート(Ｋ)</td></tr>
</table>

</td>
<td valign="top">

<table border="1" cellpadding="2">
<tr><th colspan="3">ダイヤ</th></tr>
<tr><th><img src="d01.gif" ALT="ダイヤ(Ａ)" />	<td>d01.gif</td><td>ダイヤ(Ａ)</td></tr>
<tr><th><img src="d02.gif" ALT="ダイヤ(２)" />	<td>d02.gif</td><td>ダイヤ(２)</td></tr>
<tr><th><img src="d03.gif" ALT="ダイヤ(３)" />	<td>d03.gif</td><td>ダイヤ(３)</td></tr>
<tr><th><img src="d04.gif" ALT="ダイヤ(４)" />	<td>d04.gif</td><td>ダイヤ(４)</td></tr>
<tr><th><img src="d05.gif" ALT="ダイヤ(５)" />	<td>d05.gif</td><td>ダイヤ(５)</td></tr>
<tr><th><img src="d06.gif" ALT="ダイヤ(６)" />	<td>d06.gif</td><td>ダイヤ(６)</td></tr>
<tr><th><img src="d07.gif" ALT="ダイヤ(７)" />	<td>d07.gif</td><td>ダイヤ(７)</td></tr>
<tr><th><img src="d08.gif" ALT="ダイヤ(８)" />	<td>d08.gif</td><td>ダイヤ(８)</td></tr>
<tr><th><img src="d09.gif" ALT="ダイヤ(９)" />	<td>d09.gif</td><td>ダイヤ(９)</td></tr>
<tr><th><img src="d10.gif" ALT="ダイヤ(10)" />	<td>d10.gif</td><td>ダイヤ(10)</td></tr>
<tr><th><img src="d11.gif" ALT="ダイヤ(Ｊ)" />	<td>d11.gif</td><td>ダイヤ(Ｊ)</td></tr>
<tr><th><img src="d12.gif" ALT="ダイヤ(Ｑ)" />	<td>d12.gif</td><td>ダイヤ(Ｑ)</td></tr>
<tr><th><img src="d13.gif" ALT="ダイヤ(Ｋ)" />	<td>d13.gif</td><td>ダイヤ(Ｋ)</td></tr>
</table>

</td>
<td valign="top">

<table border="1" cellpadding="2">
<tr><th colspan="3">クラブ</th></tr>
<tr><th><img src="c01.gif" ALT="クラブ(Ａ)" />	<td>c01.gif</td><td>クラブ(Ａ)</td></tr>
<tr><th><img src="c02.gif" ALT="クラブ(２)" />	<td>c02.gif</td><td>クラブ(２)</td></tr>
<tr><th><img src="c03.gif" ALT="クラブ(３)" />	<td>c03.gif</td><td>クラブ(３)</td></tr>
<tr><th><img src="c04.gif" ALT="クラブ(４)" />	<td>c04.gif</td><td>クラブ(４)</td></tr>
<tr><th><img src="c05.gif" ALT="クラブ(５)" />	<td>c05.gif</td><td>クラブ(５)</td></tr>
<tr><th><img src="c06.gif" ALT="クラブ(６)" />	<td>c06.gif</td><td>クラブ(６)</td></tr>
<tr><th><img src="c07.gif" ALT="クラブ(７)" />	<td>c07.gif</td><td>クラブ(７)</td></tr>
<tr><th><img src="c08.gif" ALT="クラブ(８)" />	<td>c08.gif</td><td>クラブ(８)</td></tr>
<tr><th><img src="c09.gif" ALT="クラブ(９)" />	<td>c09.gif</td><td>クラブ(９)</td></tr>
<tr><th><img src="c10.gif" ALT="クラブ(10)" />	<td>c10.gif</td><td>クラブ(10)</td></tr>
<tr><th><img src="c11.gif" ALT="クラブ(Ｊ)" />	<td>c11.gif</td><td>クラブ(Ｊ)</td></tr>
<tr><th><img src="c12.gif" ALT="クラブ(Ｑ)" />	<td>c12.gif</td><td>クラブ(Ｑ)</td></tr>
<tr><th><img src="c13.gif" ALT="クラブ(Ｋ)" />	<td>c13.gif</td><td>クラブ(Ｋ)</td></tr>
</table>

</td>
</tr></table>



<table border="0"><tr>
<td valign="top">

<table border="1" cellpadding="2">
<tr><th colspan="3">他</th></tr>
<tr><th><img src="j01.gif" ALT="ジョーカー(笑)" />	<td>j01.gif</td><td>ジョーカー(笑)</td></tr>
<tr><th><img src="j02.gif" ALT="ジョーカー(普)" />	<td>j02.gif</td><td>ジョーカー(普)</td></tr>
<tr><th><img src="j03.gif" ALT="ジョーカー(怒)" />	<td>j03.gif</td><td>ジョーカー(怒)</td></tr>
<tr><th><img src="n00.gif" ALT="予備カード" />		<td>n00.gif</td><td>予備カード</td></tr>
<tr><th><img src="ur0.gif" ALT="裏(赤)" />		<td>ur0.gif</td><td>裏(赤)</td></tr>
<tr><th><img src="ug0.gif" ALT="裏(緑)" />		<td>ug0.gif</td><td>裏(緑)</td></tr>
<tr><th><img src="ub0.gif" ALT="裏(青)" />		<td>ub0.gif</td><td>裏(青)</td></tr>
<tr><th><img src="uy0.gif" ALT="裏(黄)" />		<td>uy0.gif</td><td>裏(黄)</td></tr>
<tr><th><img src="up0.gif" ALT="裏(紫)" />		<td>up0.gif</td><td>裏(紫)</td></tr>
<tr><th><img src="uc0.gif" ALT="裏(シアン)" />		<td>uc0.gif</td><td>裏(シアン)</td></tr>
<tr><th><img src="um0.gif" ALT="裏(マゼンダ)" />	<td>um0.gif</td><td>裏(マゼンダ)</td></tr>
<tr><th><img src="uk0.gif" ALT="裏(黒)" />		<td>uk0.gif</td><td>裏(黒)</td></tr>
<tr><th><img src="e00.gif" ALT="空白" />		<td>e00.gif</td><td>空白</td></tr>
</table>

</td>
</tr></table>

<hr />

<!-- ▼フッター▼ -->
<table border="0" width="100%"><tr>
<td align="left" valign="top">
<!-- ▽左側▽ -->
&nbsp;
<!-- △左側△ -->
</td>
<td align="right" valign="top">
<!-- ▽右側▽ -->
By <A HREF="mailto:shiroma@mail.117.cx">Shiroma</A><br />
<A HREF="http://www.spacelan.ne.jp/~shiroma/" TARGET="(blank">1BIT NAVIGATION</A> / 
<A HREF="http://shiroma.client.jp/" TARGET="(blank">白魔空間</A><br />
<!-- △右側△ -->
</td>
</tr></table>
<!-- ▲フッター▲ -->

</body>
</html>
